<h1>Welcome on your bookings page!</h1>

<div class="container">
  <% @bookings.each do |booking| %>
  <div class="car-title mt-5">
    <h1><%= booking.car.brand %> <%= booking.car.model %></h1>
  </div>
    <ul>
      <li><%= booking.start_date %> to <%= booking.end_date %></li>
      <li><%= booking.car.price_per_hour %> €/h</li>
    </ul>
    <%= link_to "See booking", user_car_booking_path(user_id: booking.user, id: booking.id, car_id: booking.car) %>
    <%= link_to "Edit booking", edit_user_car_booking_path(user_id: booking.user, id: booking.id, car_id: booking.car)  %>
    <%= link_to "Delete booking", user_bookings_path(booking), data: {
                  turbo_method: :destroy,
                  turbo_confirm: "Are you sure?"
                } %>
  <% end %>
</div>
