<div class="container mt-4">
 <div class="row">
   <div class="col-6">
     <div class="card">
       <% if @car.photos.attached? %>
         <%= image_tag @car.photos.first, class: "card-img-top" %>
       <% end %>

       <div class="card-body">
         <h2 class="card-title"><%= @car.brand %> <%= @car.model %></h2>

         <div class="car-info">
           <p><strong>Category:</strong> <%= @car.category %></p>
           <p><strong>Price per hour:</strong> <%= number_to_currency(@car.price_per_hour) %></p>
           <p><strong>Location:</strong> <%= @car.address %></p>
           <p><strong>Owner:</strong> <%= @car.user.first_name %> <%= @car.user.last_name %></p>
         </div>

         <% if user_signed_in? && current_user != @car.user %>
           <%= link_to "Book this car", new_user_car_booking_path(user_id: current_user.id, car_id: @car.id), class: "btn btn-primary d-inline-block" %>
         <% end %>
         <%= link_to "Back to cars", cars_path, class: "btn btn-secondary d-inline-block ms-2" %>
       </div>
     </div>
   </div>

   <div class="car-info">
     <p><strong>Category:</strong> <%= @car.category %></p>
     <p><strong>Brand:</strong> <%= @car.brand %></p>
     <p><strong>Model:</strong></strong> <%= @car.model %></p>
     <p><strong>Price per hour:</strong> <%= number_to_currency(@car.price_per_hour) %></p>
     <p><strong>Location:</strong> <%= @car.address %></p>
     <p><strong>Owner:</strong> <%= @car.user.first_name %> <%= @car.user.last_name %></p>
   </div>

    <%= link_to "Book this car",
                  current_user ? new_user_car_booking_path(current_user, car) : new_user_session_path,
                  class: "btn btn-primary" %>
   <%= link_to "Back to cars", cars_path, class: "btn btn-primary" %>

   <div class="col-6">
     <div class="map" style="height: 600px;"
       data-controller="map"
       data-map-markers-value="<%= @markers.to_json %>"
       data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
   </div>
 </div>
</div>
