<div class="container mt-4">
 <div class="row">
   <div class="col-6">
     <div class="card">
       <% if @car.photos.attached? %>
         <%= image_tag @car.photos.first, class: "card-img-top" %>
       <% end %>

       <div class="card-body">
         <h2 class="card-title"><%= @car.brand %> <%= @car.model %></h2>

         <div class="car-info">
           <p><strong>Category:</strong> <%= @car.category %></p>
           <p><strong>Price per hour:</strong> <%= number_to_currency(@car.price_per_hour) %></p>
           <p><strong>Location:</strong> <%= @car.address %></p>
           <p><strong>Owner:</strong> <%= @car.user.first_name %> <%= @car.user.last_name %></p>
         </div>

         <%= link_to "Book this car",
                          current_user ? new_user_car_booking_path(current_user, @car) : new_user_session_path,
                          class: "btn btn-primary" %>
         <% if policy(@car).edit? %>
           <%= link_to "Edit this car", edit_user_car_path(@car), class: "btn btn-warning d-inline-block" %>
         <% end %>
          <% if policy(@car).destroy? %>
            <%= link_to "Delete this car", car_path(@car), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger d-inline-block" %>
         <% end %>
         <%= link_to "Back to cars", cars_path, class: "btn btn-secondary d-inline-block ms-2" %>
       </div>
     </div>
   </div>

   <div class="col-6">
     <div class="map" style="height: 600px;"
       data-controller="map"
       data-map-markers-value="<%= @markers.to_json %>"
       data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
   </div>
 </div>
</div>
